{
  "cli": {
    "version": ">= 5.0.0"
  },
  "build": {
    "development": {
      "developmentClient": true,
      "distribution": "internal",
      "android": {
        "gradleCommand": ":app:assembleDebug",
        "buildType": "apk"
      },
      "env": {
        "EXPO_PUBLIC_STAGE": "dev",
        "EXPO_DEBUG": "true"
      }
    },
    "preview": {
      "distribution": "internal",
      "android": {
        "buildType": "apk"
      },
      "env": {
        "EXPO_PUBLIC_STAGE": "dev",
        "EXPO_PUBLIC_GATEWAY_URL": "http://medisupply-alb-656658498.us-east-1.elb.amazonaws.com",
        "EXPO_PUBLIC_GATEWAY_URL_ANDROID": "http://medisupply-alb-656658498.us-east-1.elb.amazonaws.com",
        "EXPO_PUBLIC_GATEWAY_URL_IOS": "http://medisupply-alb-656658498.us-east-1.elb.amazonaws.com"
      }
    },
    "production": {
      "android": {
        "buildType": "apk"
      },
      "env": {
        "EXPO_PUBLIC_STAGE": "prod",
        "EXPO_PUBLIC_GATEWAY_URL": "https://api.medisupply.com",
        "EXPO_PUBLIC_GATEWAY_URL_ANDROID": "https://api.medisupply.com",
        "EXPO_PUBLIC_GATEWAY_URL_IOS": "https://api.medisupply.com"
      }
    }
  },
  "submit": {
    "production": {}
  }
}

